@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
* {
  transition: linear .1s;
}
*:hover {
  transition: linear .1s;
}

#logo {
  display: flex;
  flex-direction: row;
  gap:10px;
  align-items: center;
  padding: 10px 20px;
  background: #C80A64;
}
#logo img {
  height: 40px;
}
h1 { 
  color:#fff;
  font-weight: 900;
}
p {
  margin:0;
  padding:0;
}
.emegea-wrap {
    font-family: 'Inter', sans-serif;
    color: #444;
}

.emegea-wrap input,
.emegea-wrap select,
.emegea-wrap textarea {
    font-family: 'Inter', sans-serif;
    color: #444;
}

.emegea-wrap a {
    color: #C80A64 ;
}
.emegea-wrap a:hover {
    color: #990A4D ;
    border-color: #990A4D ;
}
.emegea-wrap .button {
  background: #C80A64;
  color:#fff;
  border:none;
}
.emegea-wrap .button:hover {
  background: #990A4D;
  color:#fff;
}
.emegea-wrap .button:hover
.emegea-wrap .button-primary {
    background: #C80A64;
    border: none;
    color:#fff;
}
.emegea-wrap .button-primary:hover {
  background: #990A4D;
  border: none;
  color:#fff;
}

.emegea-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 100%;
}

.emegea-form > div {
    flex: 1 1 100%;
}

@media (min-width: 768px) {
    .emegea-form > div {
        flex: 1 1 45%;
    }
}
#wpcontent {
  padding:0;
}
#main {
  display: flex;
  flex-direction: column;
  padding:20px;
}
.contenido {
  display: flex;
  flex-direction: row;
  gap:10px;
}
.columnaUno, .columnaDos, .columnaTres {
  width: 33.333%;
}
.columnaUno > div, .columnaDos > div, .columnaTres > div {
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  font-family: 'Inter', sans-serif;
  color: #444;
}
.columnaUno > div h2, .columnaDos > div h2, .columnaTres > div h2 {
  margin-bottom: 20px;
  line-height: 1.5em;
}
.columnaUno > div h2 p, .columnaDos > div h2 p, .columnaTres > div h2 p {
  font-weight: 400;
  margin-bottom: 20px;
}

#redesSociales {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#redesSociales p {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

#login {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#login label {
  display: flex;
  align-items: center;
  gap: 10px;
}
#login div {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 0 0 20px 0;
  border-bottom:1px #ccc solid;
}
#emegea_logo_preview {
  order: -1;
  border:1px solid #ccc;
  border-radius: 10px;
}
#emegea_logo_preview:hover {
  background: #999;
}


#disposicion {
  align-items: center;
  display: flex;
  gap: 10px;  
}


/* Items del menú */
.emegea-menu-list ul {
    list-style-type: none;
    padding-left: 0;
}

.emegea-menu-item {
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
}
input[value="separator1"],
input[value="separator2"],
input[value="separator-woocommerce"],
input[value="separator-elementor"],
input[value="separator-last"] {
  display: none;
}

.emegea-submenu {
  display: none;
  margin-left: 20px;
}

.emegea-submenu.visible {
  display: block;
}
